<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toffee - Your Budget Manager</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="shortcut icon" href="/assets/logo.svg" type="image/x-icon" />
    <script src="https://unpkg.com/phosphor-icons"></script>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script>
      let foodAndDrink = <%- JSON.stringify(foodAndDrink) %>;
      let lifestyle = <%- JSON.stringify(lifestyle) %>;
      let entertainment = <%- JSON.stringify(entertainment) %>;
      let utilities = <%- JSON.stringify(utilities) %>;
      let home = <%- JSON.stringify(home) %>;
      let transportation = <%- JSON.stringify(transportation) %>;
      let misc = <%- JSON.stringify(misc) %>;
      let fnd = parseInt("<%= totals["foodAndDrink"] %>");
      let life = parseInt("<%= totals["lifestyle"] %>");
      let ent = parseInt("<%= totals["entertainment"] %>");
      let util = parseInt("<%= totals["utilities"] %>");
      let hme = parseInt("<%= totals["home"] %>");
      let trans = parseInt("<%= totals["transportation"] %>");
      let msc = parseInt("<%= totals["misc"] %>");
    </script>
  </head>
  <nav>
    <img src="/assets/logo.svg" class="toffee-logo" />
    <h1>Toffee</h1>
    <button id="translate-btn">
      <img src="/assets/translate.png" alt="" />
    </button>
  </nav>
  <body>
    <div class="spacing"></div>

    <div class="body-contain">
      <div id="google_translate_element"></div>
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement(
            { pageLanguage: "en" },
            "google_translate_element"
          );
        }
      </script>
      <div
        class="button-back"
        onclick="location.href='./';"
        style="cursor: pointer"
      >
        <i class="ph-bold ph-arrow-left"></i>
        <p>back to home</p>
      </div>
      <div class="title-2">insights</div>
      <div class="divider"></div>
      <div class="total-sum">
        <div class="inr-symbol">₹</div>
        <div class="amount">
          <%= totals["total"].toLocaleString('en', {useGrouping:true}) %>
        </div>
      </div>
      <p>spent this month</p>
      <table class="transaction-table">
        <tr class="header-row">
          <th>Category</th>
          <th>Amount</th>
        </tr>
        <tr>
          <th class="categories">Food and Drinks</th>
          <th class="tableAmount">
            <%= totals["foodAndDrink"].toLocaleString('en', {useGrouping:true})
            %>
          </th>
        </tr>
        <tr>
          <th class="categories">Lifestyle</th>
          <th class="tableAmount">
            <%= totals["lifestyle"].toLocaleString('en', {useGrouping:true}) %>
          </th>
        </tr>
        <tr>
          <th class="categories">Entertainment</th>
          <th class="tableAmount">
            <%= totals["entertainment"].toLocaleString('en', {useGrouping:true})
            %>
          </th>
        </tr>
        <tr>
          <th class="categories">Utilities</th>
          <th class="tableAmount">
            <%= totals["utilities"].toLocaleString('en', {useGrouping:true}) %>
          </th>
        </tr>
        <tr>
          <th class="categories">Home</th>
          <th class="tableAmount">
            <%= totals["home"].toLocaleString('en', {useGrouping:true}) %>
          </th>
        </tr>
        <tr>
          <th class="categories">Transportation</th>
          <th class="tableAmount">
            <%= totals["transportation"].toLocaleString('en',
            {useGrouping:true}) %>
          </th>
        </tr>
        <tr>
          <th class="categories">Miscellaneous</th>
          <th class="tableAmount">
            <%= totals["misc"].toLocaleString('en', {useGrouping:true}) %>
          </th>
        </tr>
      </table>
      <div id="pie"></div>
      <div id="column"></div>
    </div>
    <script src="/js/category.js"></script>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
  </body>
</html>
