<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toffee - Your Budget Manager</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="shortcut icon" href="/assets/logo.svg" type="image/x-icon" />
    <script src="https://unpkg.com/phosphor-icons"></script>
    <script>
      let USERNAME = "<%= username %>";
      let SELECTION = <%- JSON.stringify(selection) %>;
    </script>
  </head>
  <nav>
    <img src="/assets/logo.svg" class="toffee-logo" />
    <h1>Toffee</h1>
    <button id="translate-btn">
      <img src="/assets/translate.png" alt="" />
    </button>
  </nav>
  <body>
    <div class="spacing"></div>
    <div class="body-contain">
      <div id="google_translate_element"></div>
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement(
            { pageLanguage: "en" },
            "google_translate_element"
          );
        }
      </script>
      <div class="title">My Total Expenditure</div>
      <div class="selectors">
        <form action="/<%= username %>" method="POST">
          <select class="selector-category" name="category" id="category">
            <option value="none" selected disabled hidden>
              select a category
            </option>
            <option value="all" selected="selected">All Categories</option>
            <option value="food">Food & Drinks</option>
            <option value="entertainment">Entertainment</option>
            <option value="utilities">Utilities</option>
            <option value="home">Home</option>
            <option value="lifestyle">Lifestyle</option>
            <option value="transportation">Transportation</option>
            <option value="miscellaneous">Miscellaneous</option>
          </select>

          <select class="selector-time" name="time" id="time">
            <option value="all">All Time</option>
            <option value="month">This Month</option>
            <option value="week">This Week</option>
            <option value="today">Today</option>
          </select>
          <input type="submit" value="Submit" />
        </form>
      </div>
      <div class="divider"></div>
      <div class="total-sum">
        <div class="inr-symbol">₹</div>
        <div class="amount">
          <%= total.toLocaleString('en', {useGrouping:true}) %>
        </div>
      </div>
      <div class="selector-display">
        Category: <span class="purple"><%= selection[0]%></span><br />
        <% if (selection[1] == "all") { %> Duration:
        <span class="purple">All Time</span> <% } %> <% if(selection[1] ==
        "month") { %> Duration: <span class="purple">This Month</span> <% } %>
        <% if (selection[1] == "week") { %> Duration:
        <span class="purple">This Week </span> <% } %> <% if (selection[1] ==
        "today") { %> Duration:
        <span class="purple">Today</span>
        <% } %>
      </div>
      <div
        class="category-button"
        onclick="goToCategory(USERNAME)"
        style="cursor: pointer"
      >
        <i class="ph-bold ph-chart-pie"></i>
        <p>view insights</p>
      </div>
      <% mapping = { foodAndDrink: "Food and Drink", entertainment:
      "Entertainment", utilities: "Utilities", transportation: "Transportation",
      home: "Home", lifestyle: "Lifestyle", Miscellaneous: "Miscellaneous", };
      %>
      <table class="transaction-table">
        <tr class="header-row">
          <th>Date</th>
          <th>Transaction</th>
          <th>Category</th>
          <th>Amount</th>
        </tr>
        <% transactions.forEach(item => { %>
        <tr>
          <% const date = new Date(item.createdAt*1000) %>
          <th class="date"><%= date.toLocaleString() %></th>
          <th class="transaction"><%= item.message %></th>
          <th><%= mapping[item.category] %></th>
          <th class="tableAmount">
            <%= item.amount.toLocaleString('en', {useGrouping:true}) %>
          </th>
        </tr>
        <% }) %>
      </table>
    </div>
  </body>
  <script src="/js/home.js"></script>
  <script
    type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
  ></script>
</html>
